<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">

                <form class="m-t" [formGroup]="form" (submit)="login()"  onsubmit="return false">

                    <div class="form-group">
                        <label class="required">Email</label>
                        <input formControlName="email" class="form-control" type="text">
                        <validation-message
                            name="Email"
                            [errors]="form?.controls?.email.errors">
                        </validation-message>
                    </div>

                    <div class="form-group">
                        <label class="required">Password</label>
                        <input formControlName="password" class="form-control" type="password">
                        <validation-message
                            name="Password"
                            [errors]="form?.controls?.password.errors">
                        </validation-message>
                    </div>

                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                    <a [routerLink]="[ '/auth', 'recovery-email' ]">
                        <small>{{ "auth.forgot" | translate }}</small>
                    </a>

                </form>

                <loader #loader></loader>

            </div>
        </div>
    </div>

</div>