<crud-add-edit [title]="id  ? 'Редактировани пользователя' : 'Добавление пользователя'">

    <form [formGroup]="form" (submit)="submit()" onsubmit="return false">

        <table class="table">
            <tbody>
                <tr>
                    <td>Имя</td>
                    <td>
                        <input-text [form]="form" [formControlName]="'first_name'"></input-text>
                    </td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td>
                        <input-text [form]="form" [formControlName]="'last_name'"></input-text>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input-text [form]="form" [formControlName]="'email'"></input-text>
                    </td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>
                        <input-text [form]="form" [formControlName]="'phone'"></input-text>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <success>Сохранить</success>
                    </td>
                </tr>
            </tbody>
        </table>

    </form>

    <loader #loader></loader>

</crud-add-edit>