<nav class="navbar-default navbar-static-side">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header" [routerLink]="['/users']">

                <div class="logo" id="logo">CrudAdmin</div>

                <div class="logo-element">CA</div>

            </li>

            <li routerLinkActive="active">
                <a [routerLink]="['/users']">
                    <i class="fa fa-group"></i>
                    <span class="nav-label">Пользователи</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/roles']">
                    <i class="fa fa-group"></i>
                    <span class="nav-label">Роли</span>
                </a>
            </li>
        </ul>

    </div>
</nav>