<div class="row border-bottom">
    <nav class="navbar navbar-static-top">

        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)" toggleNav>
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown" dropdown>
                <a class="dropdown-toggle" href="javascript:void(0)" dropdown-open>
                    <span class="clear">
                        <small>{{ UserDataService?.current?.fullName }} <b class="caret"></b></small>
                    </span>
                </a>

                <ul class="dropdown-menu m-t-xs">
                    <li><a [routerLink]="['/profile']">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                </ul>
            </li>

            <!--<li class="dropdown">-->
                <!--<a class="count-info" [routerLink]="['/profile']">-->
                    <!--<i class="fa fa-gear"></i>-->
                <!--</a>-->
            <!--</li>-->
        </ul>

    </nav>
</div>